.app {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;
	overflow: hidden;
}

.page-body {
	display: flex;
	flex-direction: row;
	flex: 1;
	margin-bottom: 12px;
	overflow: hidden;
}

.channel-body {
	display: flex;
	flex-direction: column;
	padding: 12px;
	padding-top: 20px;
	flex: 1;
	gap: 2px;

	background-color: var(--message-channel-colour);

	border-radius: 0 0 16px 16px;
	position: relative;
	overflow: hidden;

	border: var(--border);
}

.channel-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.message-list {
	display: flex;
	flex-direction: column;
	flex: 1;

	overflow-x: hidden;
	overflow-y: auto;
}

.message-group {
	display: flex;
	gap: 10px;
	margin-bottom: 12px;
}

.message-line,
.group-title {
	display: flex;
	gap: 8px;
	align-items: baseline;
	justify-content: space-between;
}

.show-on-hover {
	visibility: hidden;
}

.message-line:hover {
	background-color: var(--surface-hover-colour);
}

.message-line:hover > .show-on-hover {
	visibility: visible;
}

.time {
	font-size: 0.75rem;
	color: var(--text-muted);
	min-width: fit-content;
}

.message {
	padding: 8px 36px;
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.message-line .content {
	word-wrap: break-word;
	word-break: break-all;
	hyphens: auto;
	color: var(--text-secondary);
}

.avatar {
	width: 32px;
	height: 32px;
	background-color: var(--channel-icon-colour);
	border-radius: 4px;
	overflow: hidden;
}

.avatar img {
	width: 100%;
	height: 100%;
}

.text-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 8px;
	border-radius: 8px;
	background-color: var(--chat-bubble-colour);
	position: relative;
}

.text-content::after {
	content: "";
	position: absolute;
	top: 8px;
	left: -6px;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent var(--chat-bubble-colour) transparent transparent;
}

.message .meta {
	display: flex;
	flex-direction: row;
	gap: 4px;
	justify-content: space-between;
}

.input-area {
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.input-area input {
	flex: 1;
	padding: 16px;
	border-radius: 8px;
	outline: none;
	border: var(--border);
}

.input-area .send-button {
	padding: 8px 16px;
	display: none;
}

.welcome-to-channel {
	display: flex;
	flex-direction: column;
}

.welcome-message {
	margin: 16px 0 0;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: var(--text-secondary);
}
.welcome-message-subtitle {
	margin: 8px 0 32px 0;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	color: var(--text-muted);
}

.no-messages {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.no-messages-label {
	z-index: 1;
	background-color: var(--message-channel-colour);
	padding: 8px;
	color: var(--text-muted);
	font-size: 14px;
}

.no-messages::before {
	position: absolute;
	content: "";
	height: 1px;
	width: 90%;
	left: 0;
	right: 0;
	top: 50%;

	background-color: var(--text-muted);
	opacity: 0.5;
	margin: 0 auto;
}
